{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icons/fontawesome/styles.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/extras/animate.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    
{% endblock %}
{% form_theme form 'Form/fields.html.twig' %}

{% block content %}

    <div class="container profil">
        <div class="row">
            <div class="menu-side col-md-4" style="padding-right:50px;">
              <div class="menu-items">
                  <div class="row">
                      <button type="button" onclick="window.location.href='{{ path('fos_user_profile_edit')}}'" class="input100 menu-item">Modifier mon profil</button>
                  </div>
                  <div class="row">
                      <button type="button" onclick="window.location.href='{{ path('fos_user_change_password') }}'"  class="input100 menu-item" >Change de mot de passe</button>
                  </div>
              </div>
            </div>
            <div class="profil-info col-md-8" style="border-left: 2px solid white;">

              <!-- Profil Modifier Start -->
              <div  style="display:block" class="profil-mdf">
                <form action="">
              <div   class="profil-mdf">
                  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                  {% form_theme form 'Form/Registration/fields.html.twig' %}

                  {{ form_errors(form) }}
                  <div class="row">
                      <div class="col-md-10">
                          {{ form_row(form.fullName)}}
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-10">
                          {{ form_row(form.username)}}
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                          </span>
                      </div>
                      
                  </div>
                  <div class="row">
                      <div class="col-md-10">
                          {{ form_row(form.email)}}
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-10">
                          {{ form_row(form.phoneNumber)}}
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>
                  <div class="row">
                        <div class="col-md-10">
                            {{ form_row(form.timezoneId)}}
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                              <i class="fa fa-globe" aria-hidden="true"></i>
                            </span>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-md-10">
                          {{ form_row(form.current_password)}}
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>
                  {{ form_rest(form) }}
                  <div class="row validate">
                      <div class="col-md-5">
                          <button type="submit" class="login100-form-btn">Enregistrer</button>
                      </div>
                  </div>
                  {{ form_end(form) }}
              </div>

              <!-- Profil Modifier End -->

              <!-- Change Password Start -->

              <div  style="display:none" class="profil-mdf">
                  <form id="mdp-form" action="">
                    <div class="row">
                        <div class="col-md-10">
                            <input class="input100" type="password" placeholder="Mot de passe Actuel">
                            <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input  class="input100" type="password" placeholder="Nouveau mot de passe">
                            <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input  class="input100" type="password" placeholder="Nouveau mot de passe">
                            <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row validate">
                        <div class="offset-md-5 col-md-4">
                            <button type="button" class="login100-form-btn">Enregistrer</button>
                        </div>
                    </div>
                  </form>
                </div>
                <script>
                    $(document).ready(function(){
                        $(".menu-item").click(function(){
                            $(".profil-mdf").toggle();
                        });
                    });
                    </script>
                <!-- Change Password End -->

                <!--     <script>
                         $(document).ready(function(){
                             $(".menu-item").click(function(){
                                 $(".profil-mdf").toggle();
                             });
                         });
                         </script>
                      Change Password End -->
            </div>
        </div>
    </div>
{% endblock %}


{# <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title">Profil <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        </div>

        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}
            {{ form_row(form.fullName)}}
            {{ form_rest(form) }}

            <div class="text-right">
                <div class="btn-group">
                    <button name="update" type="submit" class="btn btn-primary legitRipple">Modifier <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>#}