<!DOCTYPE html>
<html>
<title>GalleryExample3</title>
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="galleryexample3.css">
<style>
    html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
    .mySlides {display:none}
    .w3-tag, .fa {cursor:pointer}
    .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/galleryexample2.css') }}"/>
</head>
<body>

<!-- Slideshow -->
<div class="w3-container">
    <div class="w3-display-container mySlides">
        <img src="{{ asset('/images/Imagetests/1.jpg') }}" style="width:100%">
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Taken on 12/01/2018</h1>
                <hr class="w3-opacity">
                <a target="_blank" href="{{ asset('/images/Imagetests/5.jpg') }}">
                    <img src="{{ asset('/images/Imagetests/5.jpg') }}" alt="image" style="width:150px;    border: 1px solid #ddd; border-radius: 4px;padding: 5px;">
                </a>
                <p>Image Taken by guest1 at 17:31 PM</p>
            </div>
        </div>
    </div>
    <div class="w3-display-container mySlides">
        <img src="{{ asset('/images/Imagetests/6.jpg') }}" style="width:100%">
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Taken on 12/01/2018</h1>
                <hr class="w3-opacity">
                <a target="_blank" href="{{ asset('/images/imagetests/5.jpg') }}">
                    <img src="{{ asset('/images/Imagetests/5.jpg') }}" alt="image" style="width:150px;    border: 1px solid #ddd; border-radius: 4px;padding: 5px;">
                </a>
                <p>Image Taken by guest1 at 17:30 PM</p>
            </div>
        </div>
    </div>
    <div class="w3-display-container mySlides">
        <img src="{{ asset('/images/Imagetests/2.jpg') }}" style="width:100%">
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Taken on 12/01/2018 </h1>
                <hr class="w3-opacity">
                <a target="_blank" href="{{ asset('/images/Imagetests/5.jpg') }}">
                    <img src="{{ asset('/images/Imagetests/5.jpg') }}" alt="image" style="width:150px;    border: 1px solid #ddd; border-radius: 4px;padding: 5px;">
                </a>
                <p>Image Taken by guest1 at 17:35 PM</p>
            </div>
        </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
        <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
        <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

        <div class="w3-center">
            <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        </div>
    </div>
</div>

<script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demodots");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-white";
    }
</script>

</body>
</html>
