<!DOCTYPE html>
<html>
<title>Instan't</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/galleryexample2.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .mySlides {display:none}
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
</style>
</head>
<body>
<div class="w3-content w3-display-container" style="width:100%" id="slide" data-event-id="{{ event.id }}" >
    {% for media in medias %}
    <img class='mySlides' src="/uploads/{{ media.src }}">
    {% endfor %}
    {#<img class="mySlides" src="img_nature_wide.jpg" style="width:100%">#}
    {#<img class="mySlides" src="img_fjords_wide.jpg" style="width:100%">#}
    {#<img class="mySlides" src="img_mountains_wide.jpg" style="width:100%">#}
    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" id="click" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    var slideIndex2 = 4;
    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-white";
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('assets/js/autobahn.js') }}"></script>
<script>
    //const eventId = ""+ $("#gallery").data('event-id');
    const eventId = ""+ $("#slide").data('event-id');

    var conn = new ab.Session('ws://127.0.0.1:8888',
        function() {
            conn.subscribe(eventId, function(topic, data) {
                // This is where you would add the new images to the DOM
                console.log('Topic: ' + topic );
                console.log(data);
                //var gallery = $('#gallery');
                var slide = $('#slide');
                var clickdiv = $('#click');
                // var author = $('#event_name');
                // gallery.append("<p>Image By: " + data._name + "</p>");
                //gallery.append("<img src=" + data._image +">");
                slide.append("<img class='mySlides hh' src="+ data._image +">");
                slide.append("<div class=\"w3-display-left w3-padding w3-hide-small\" style=\"width:35%\">\n" +
                    "<div class=\"w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large\"><p>Image Taken By: " + data._name + "</p>"+"  <hr class=\"w3-opacity\">\n" +
                    "                    <a target=\"_blank\" href=\"{{ asset('images/Imagetests/5.jpg') }}\">\n" +
                    "                          <img src=\"{{ asset('images/Imagetests/5.jpg') }}\" alt=\"image\" style=\"width:150px;border: 1px solid #ddd; border-radius: 4px;padding: 5px;\">\n" +
                    "                    </a>\n" +
                    "       <p>Taken at 17:31 PM</p>\n" +
                    "      </div>");
                clickdiv.append("<span class=\"w3-badge demo w3-border w3-transparent w3-hover-white\" onclick=\"currentDiv("+slideIndex2+")\"></span>");
                slideIndex2+=1;
                showDivs(slideIndex);
            });
        },

        function() {
            console.warn('WebSocket connection closed');
        },
        {'skipSubprotocolCheck': true}
    );
</script>
</body>
</html>
