{% trans_default_domain 'FOSUserBundle' %}

    {% form_theme form 'Form/login_fields.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal '}}) }}
<div class="panel panel-body login-form">
    <div class="text-center">
        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-lock4"></i></div>
        <h5 class="content-group">Espace de connexion <small class="display-block">Remplissez le formulaire ci-dessous</small></h5>
    </div>

    {% if error|default %}
        <div class="form-group "><span class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span></div>
    {% endif %}

    {{ form_errors(form) }}

    {{ form_row(form.fullName)}}
    {{ form_row(form.username)}}
    {{ form_row(form.email)}}

    {{ form_rest(form) }}
    <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

    <div class="content-divider text-muted form-group"><span>or register with</span></div>

    <ul class="list-inline form-group list-inline-condensed text-center">
        {% for owner in hwi_oauth_resource_owners() %}
            <li><a href="/" class="btn bg-{{ owner }} text-white btn-flat btn-icon btn-rounded"><i class="icon-{{ owner }}"></i></a></li>
        {% endfor %}
    </ul>

    <div class="content-divider text-muted form-group"><span>Do you have an account?</span></div>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-block content-group">Sign in</a>
    <span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
</div>
{{ form_end(form) }}