{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'Form/fields.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icons/fontawesome/styles.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/extras/animate.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

{% endblock %}
{% block content %}

    <div class="container profil">
        <div class="row">
            <div class="menu-side col-md-4">
                <div class="menu-items">
                    <div class="row">
                        <button type="button" onclick="window.location.href='{{ path('fos_user_profile_edit')}}'" class="input100 menu-item">Modifier mon profil</button>
                    </div>
                    <div class="row">
                        <button type="button" onclick="window.location.href='{{ path('fos_user_change_password') }}'"  class="input100 menu-item" name="pass">Change de mot de passe</button>
                    </div>
                </div>
            </div>
            <div class="profil-info col-md-8">

                <!-- Profil Modifier Start -->
                <div   class="profil-mdf">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {% form_theme form 'Form/Registration/fields.html.twig' %}

                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-md-10">
                            {{ form_row(form.current_password)}}
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            {{ form_row(form.plainPassword.first)}}
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            {{ form_row(form.plainPassword.second)}}
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="row validate">
                        <div class="col-md-5">
                            <button type="submit" class="login100-form-btn">{{ 'change_password.submit'|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{#
  <div  class="profil-mdf">
                  <form id="mdp-form" action="">
                    <div class="row">
                        <div class="col-md-10">
                            <input class="input100" type="password" placeholder="Mot de passe Actuel">
                            <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input  class="input100" type="password" placeholder="Nouveau mot de passe">
                            <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input  class="input100" type="password" placeholder="Nouveau mot de passe">
                            <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="row validate">
                        <div class="offset-md-5 col-md-4">
                            <button type="button" class="login100-form-btn">Enregistrer</button>
                        </div>
                    </div>
                  </form>
                </div>
#}
{% endblock  %}