{% extends "client/invitation/base_invitation.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}


    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">

        </nav>
        <!-- End Navbar -->
        <div class="events">
            <div class="col-md-10 mr-auto ml-auto">
                <!--      new invitation        -->
                <div class="upcoming">
                    <div class="alert alert-info" role="alert">New Invitation</div>
                    <div class="row">
                    {% if newInvitations|length == 0 %}
                               <p class="invitation-msg">You Don't Have Any Invitation</p>
                    {% endif %}
                        {% for invitation in newInvitations %}
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ invitation.event.title }}</h5>
                                        <p class="card-text">{{ invitation.event.description }}</p>
                                        {{ form_start( invitationForms[loop.index-1]) }}
                                            {{ form_widget(invitationForms[loop.index-1].accept) }}
                                            {{ form_widget(invitationForms[loop.index-1].denied) }} 
                                        {{ form_end(invitationForms[loop.index-1]) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--      accepted invitation        -->
                <div class="upcoming">
                    <div class="alert alert-info" role="alert">Accepted Invitation</div>
                    <div class="row">
                    {% if acceptedInvitations|length == 0 %}
                               <p class="invitation-msg">You Don't Have Any Invitation</p>
                            {% endif %}
                        {% for invitation in acceptedInvitations %}
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ invitation.event.title }}</h5>
                                        <p class="card-text">{{ invitation.event.description }}</p>
                                    </div>
                                    <div class="accepted">
                                        more info
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--      canceled invitation        -->
                <div class="upcoming">
                    <div class="alert alert-info" role="alert">Canceled Invitation</div>
                    <div class="row">
                            {% if canceledInvitations|length == 0 %}
                               <p class="invitation-msg">No Invitation is Canceled</p>
                            {% endif %}
                        {% for invitation in canceledInvitations %}
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ invitation.event.title }}</h5>
                                        <p class="card-text">{{ invitation.event.description }}</p>
                                    </div>
                                    <div class="cenceled">
                                        more info
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}