<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instan't</title>
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" sizes="16x16">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icons/fontawesome/styles.min.css')}}">
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block stylesheet %}{% endblock %}
    <!-- /global stylesheets -->
    <style>
        body{
            background-color: #eeeeee;
        }
    </style>

</head>
{% block body %}

    <body {% block body_attributes %}class="layout-boxed"{% endblock %}>

    <!-- Main navbar -->
    {% block main_navbar %}
        {% include 'layout/main_navbar.html.twig' %}
    {% endblock %}
    <!-- /main navbar -->

    {% block home_jumbotron %}{% endblock %}
    <!-- Page header -->
    {% block header_page %}
        {#


        <div class="page-header">
            <div class="page-header-content">
                {% block header_content %}
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Starters</span> - Boxed Layout</h4>

                        <ul class="breadcrumb breadcrumb-caret position-right">
                            <li><a href="{{ path('app_home_index') }}">Home</a></li>
                            <li><a href="#">Starters</a></li>
                            <li class="active">Boxed layout</li>
                        </ul>
                    </div>

                    <div class="heading-elements">
                        <a href="#" class="btn btn-labeled btn-labeled-right bg-blue heading-btn">Button <b><i class="icon-menu7"></i></b></a>
                    </div>
                {% endblock %}
            </div>
        </div>

        #}
    {% endblock %}
    <!-- /page header -->



        {% block container %}
        <!-- Page container -->
        <div class="page-container">
            <!-- Page content -->
            <div class="page-content">
                {% block left_sidebar %}
                    {# {% include 'layout/left_sidebar.html.twig' %} #}
                {% endblock %}
                <!-- Main content -->
                <div class="content-wrapper">
                    {% block content %}{% endblock %}
                </div>
                <!-- /main content -->
                {% block right_sidebar %}
                    {# {% include 'layout/right_sidebar.html.twig' %} #}
                {% endblock %}
            </div>
            <!-- /page content -->
            </div>
    <!-- /page container -->
        {% endblock %}



    <!-- Footer -->
    {#<div class="footer footer-boxed">
        &copy; {{ 'now'|date('Y') }}. <a href="#">Mystorytelling</a> by <a href="#" target="_blank">Agence MIT</a>
    </div>#}
    <!-- /footer -->


    {% block javascripts_all %}
        <!-- /footer -->
        <script src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/forms/selects/select2.min.js') }}"></script>

        {% block javascripts2 %}{% endblock %}
        <!-- Core JS files -->
        <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"></script>
        <!-- /core JS files -->

        <!-- Theme JS files -->

        {#
        <script type="text/javascript" src="{{ asset('assets/js/pages/datatables_responsive.js') }}"></script>
       <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
       <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/daterangepicker.js') }}"></script>

         <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/picker.js') }}"></script>
         <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/picker.date.js') }}"></script>
         <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/picker.time.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/legacy.js') }}"></script>
         <script type="text/javascript" src="{{ asset('assets/js/pages/picker_date.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('assets/js/pages/datatables_responsive.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/daterangepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/anytime.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/picker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/picker.date.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/picker.time.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/pickadate/legacy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/pages/picker_date.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/anytime.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/uniform.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('assets/js/plugins/notifications/jgrowl.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/moment/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/ripple.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/uploaders/fileinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/pages/uploader_bootstrap.js') }}"></script>

        <script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>

        {% block javascripts %}{% endblock %}


        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
    </body>
{% endblock %}

</html>


