
<div class="navbar navbar-inverse bg-storytelling">
    <div class="navbar-boxed">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('app_default_index') }}"><img src="{{ asset('images/logo_light.png') }}" alt=""></a>
            <style>
            .navbar-brand a
            {
                font-family: 'Kaushan Script', cursive;
            }

            </style>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown language-switch">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('images/flags/gb.png') }}" class="position-left" alt="">
                        English
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="english"><img src="{{ asset('images/flags/gb.png') }}" alt=""> English</a></li>
                        <li><a class="french"><img src="{{ asset('images/flags/fr.png') }}" alt=""> Français</a></li>
                    </ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('images/image.png')|imagine_filter('media_thumb') }}" alt="">
                            <span>{{ app.user }}</span>
                            <i class="caret"></i>
                        </a>
                        <style>
                            .caret:after {
                                    content: '';
                            }
                        </style>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user-plus"></i> My profile</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('user_index') }}"><i class="icon-cog3"></i> Administration</a></li>
                            {% endif %}

                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-success navbar-btn navbar-right" href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </div>
    </div>
</div>
