<style>
@import url('https://fonts.googleapis.com/css?family=Poppins');

    *{
        font-family:'Poppins', sans-serif;
    }
    .btn-success{
        font-family:'Poppins', sans-serif;
    }
    .dropdown-toggle{
        font-family:'Poppins', sans-serif !important;
        color:#000 !important
    }
    .dropdown-menu li a{
        font-family:'Poppins', sans-serif !important;
        color:#000 !important;
        font-size:16px;
    }
    .navbar-inverse {
    background-color: #ffffff !important;
    border-color: #ffffff !important;

    }
    .navbar-brand {
        color:#000 !important;
        font-size:18px !important;
    }
</style>
<div class="navbar navbar-inverse bg-storytelling">
    <div class="navbar-boxed">
        <div class="navbar-header">

            <a class="navbar-brand" href="{{ path('app_default_index') }}">Instan't Logo</a>
            <style>
            </style>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown language-switch">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            {% if  app.request.locale  == 'en' %}
                                <img src="{{ asset('images/flags/gb.png') }}" class="position-left" alt="">
                                English
                                <span class="caret"></span>
                            {% else %}
                                <img src="{{ asset('images/flags/fr.png') }}" class="position-left" alt="">
                                Français
                                <span class="caret"></span>
                            {% endif %}
                        </a>

                    <ul class="dropdown-menu">
                        <li><a class="english" href="{{ path('app_locale_index', {'lang': 'en'}) }}"><img src="{{ asset('images/flags/gb.png') }}" alt=""> English</a></li>
                        <li><a class="french" href="{{ path('app_locale_index', {'lang': 'fr'}) }}"> <img src="{{ asset('images/flags/fr.png') }}" alt=""> Français</a></li>
                    </ul>
                    <style>
                            .caret:after {
                                    content: none !important;
                            }
                        </style>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                          {#  <img src="{{ asset('images/image.png')|imagine_filter('media_thumb') }}" alt=""> #}
                            <img src="{{ asset('uploads/'~ app.user.avatar.name)|imagine_filter('media_thumb') }}" alt="">
                            <span>{{ app.user }}</span>
                            <i class="caret"></i>
                        </a>
                        <style>
                            .caret:after {
                                    content: none;
                            }
                        </style>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user-plus"></i>My profile</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('user_index') }}"><i class="icon-cog3"></i>Settings</a></li>
                            {% endif %}

                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-success navbar-btn navbar-right" href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </div>
    </div>
</div>
