<style>
    .btn-storytelling-login{
    background-color: #43c6ac;
    color: #fff;
    border-color: #43c6ac;
}

.navbar-brand{
    margin:0;
    padding:0;
}
</style>
<div class="navbar navbar-inverse bg-storytelling">
    <div class="navbar-boxed">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('app_default_index') }}"><img src="{{ asset('assets/images/logo.png') }}" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown language-switch">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('images/flags/gb.png') }}" class="position-left" alt="">
                        English
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="english"><img src="{{ asset('images/flags/gb.png') }}" alt=""> English</a></li>
                        <li><a class="french"><img src="{{ asset('images/flags/fr.png') }}" alt=""> Français</a></li>
                    </ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('images/image.png')|imagine_filter('media_thumb') }}" alt="">
                            <span>Victoria</span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user-plus"></i> My profile</a></li>
                            <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                            <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-storytelling-login navbar-btn navbar-right" href="{{ path('fos_user_registration_register') }}">S'inscrire / Connexion</a>
            {% endif %}
        </div>
    </div>
</div>
