{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Event Information<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
            <a onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');"  class="btn btn-danger btn-xs" href="{{ path('event_delete', { 'id': event.id }) }}">Supprimer <i class="icon-trash-alt position-right"></i></a>
            <a href="{{ path('event_index') }}" class="btn btn-primary btn-xs "><b><i class="icon-loop3"></i></b> Retour à la liste</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12 col-lg-12">
            <table class="table">
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <td>{{ event.title }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ event.description }}</td>
                        </tr>
                        <tr>
                            <th>Place</th>
                            <td>{{ event.place }}</td>
                        </tr>
                        <tr>
                            <th>Privacy</th>
                            <td>{{ event.privacy }}</td>
                        </tr>
                        <tr>
                            <th>CreatedBy</th>
                            <td>{{ event.createdBy.fullName }}</td>
                        </tr>
                        <tr>
                            <th>Plan</th>
                            <td>{{ event.eventPurchase.plan.planKey }}</td>
                        </tr>
                        <tr>
                            <th>Startsat</th>
                            <td>{% if event.startsAt %}{{ event.startsAt|date('Y-m-d') }} <strong>{{ event.startsAt|date('H:i') }}</strong>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Endsat</th>
                            <td>{% if event.endsAt %}{{ event.endsAt|date('Y-m-d') }} <strong>{{ event.endsAt|date('H:i') }}</strong>{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
        </div>
    </div>
</div>
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Détails</h6>
    </div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-top top-divided nav-justified">
                <li class="active"><a href="#event-createdBy" data-toggle="tab">createdBy</a></li>
                <li><a href="#event-payment" data-toggle="tab">Payment</a></li>
                <li><a href="#event-challenges" data-toggle="tab">Challenges</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="event-createdBy">
                    <div class="col-md-12 col-lg-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{ 'user.fields.username'|trans }}</td>
                                <td>{{ event.createdBy.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.full_name'|trans }}</td>
                                <td>{{ event.createdBy.fullName }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.email'|trans }}</td>
                                <td>{{ event.createdBy.email }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.phone_number'|trans }}</td>
                                <td>{{ event.createdBy.phoneNumber }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.time_zone'|trans }}</td>
                                <td>{{ event.createdBy.timezoneId }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.role'|trans }}</td>
                                <td>
                                        <span class="label label-info">
                                            {% if event.createdBy.roles.0 == 'ROLE_USER' %}
                                                {{ 'user.fields.user'|trans }}
                                            {% elseif event.createdBy.roles.0 == 'ROLE_ADMIN' %}
                                                {{ 'user.fields.admin'|trans }}
                                            {% elseif event.createdBy.roles.0 == 'ROLE_SUPER_ADMIN' %}
                                                Super Admin
                                            {% else %}
                                                No Role
                                            {% endif %}
                                        </span>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.state'|trans }}</td>
                                <td>
                                    {% if event.createdBy.enabled ==1 %}
                                        <span class="label bg-success heading-text">{{ 'user.index.enable'|trans }}</span>
                                    {% else %}
                                        <span class="label bg-danger heading-text">{{ 'user.index.disable'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'user.fields.lastLogin'|trans }}</td>
                                <td>{{ event.createdBy.lastLogin|date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="event-payment">
                    {% set TotalPrice = (TotalPayed/100)|split('.') %}
                    {% set bg ='bg-danger'  %}
                    {% set txt ='text-danger'  %}
                    {% set lbl ='non payer'  %}
                    {%  if isPayed %}
                        {% set bg ='bg-success'  %}
                        {% set txt ='text-success'  %}
                        {% set lbl ='payer'  %}
                    {% endif %}
                    <span class="facture-total {{ txt }}">
                                {% if TotalPrice[0] is defined %}
                        {{ TotalPrice[0] }}
                    {% else %}0{% endif %}.
                        {% if TotalPrice[1] is defined %}
                            {{ TotalPrice[1] }}
                        {% else %}00{% endif %}
                        €
                                <span class="label {{ bg }}">{{ lbl }}</span>
                            </span>
                    <span class="text-total">Total</span>
                    <div class="row">
                        {% for payment in event.eventPurchase.payments %}
                            <div class="col-md-12">

                                <div class="content-group">
                                    <h6 class="text-bold">Payment N° {{ loop.index }}</h6>
                                    <div class="table-responsive no-border">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Montant:</th>
                                                {% set price = (payment.totalAmount/100)|split('.') %}
                                                <td class="text-right text-primary">
                                                    <h5 class="text-semibold">
                                                        {% if price[0] is defined %}
                                                        {{ price[0] }}
                                                    {% else %}0{% endif %}.
                                                        {% if price[1] is defined %}
                                                            {{ price[1] }}
                                                        {% else %}00{% endif %}
                                                        €
                                                    </h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>date:</th>
                                                <td class="text-right">{% if payment.createdAt %}{{ payment.createdAt|date('Y-m-d') }} <strong>{{ payment.createdAt|date('H:i') }}</strong>{% endif %}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="event-challenges">
                    <div class="row">
                        {% for challenge in event.Challenges %}
                            <div class="col-md-12">

                                <div class="content-group">
                                    <h6 class="text-bold">Challenge N° {{ loop.index }}</h6>
                                    <div class="table-responsive no-border">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Description:</th>
                                                <td class="text-right text-primary">
                                                    <h5 class="text-semibold"> {{ challenge.description }}</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>date:</th>
                                                <td class="text-right">{% if challenge.plannedAt %}{{ challenge.plannedAt|date('Y-m-d') }} <strong>{{ challenge.plannedAt|date('H:i') }}</strong>{% endif %}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
