{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">{{ event.title }}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <ul class="list-inline list-inline-separate heading-text">
                    <li> <i class="icon-location3 text-blue"></i>  <span class="text-italic"> {{ event.place }}</span></li>

                </ul>
            </div>

        </div>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="course-overview">
                <div class="panel-body">
                    <div class="content-group-lg">
                        <h6 class="text-semibold">Description</h6>
                        <p>
                            {{ event.description }}
                        </p>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">About the creator<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        </div>

        <div class="media panel-body no-margin">
            <div class="media-left">
                <a href="#">
                    {% if event.createdBy.avatar == null %}
                        <img src="{{ asset('images/image.png')|imagine_filter('media_thumb') }}" style="width: 68px; height: 68px;" class="img-circle" alt="">
                    {% else %}
                        <img src="{{ asset('uploads/'~ event.createdBy.avatar.src)|imagine_filter('media_thumb') }}" style="width: 68px; height: 68px;" class="img-circle" alt="">
                    {% endif %}
                </a>
            </div>

            <div class="media-body">
                <h6 class="media-heading text-semibold">{{ event.createdBy.fullName }}</h6>

                <ul class="list-inline list-inline-separate no-margin">
                    <li><a href="#">{{ event.createdBy.email }}</a></li>
                    <li><a href="{{ path('user_show', {'id' : event.createdBy.id}) }}">Plus ...</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Challenges<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        </div>

        <div class="media panel-body no-margin">
        <div class="table-responsive content-group">
            <table class="table table-framed">
                <thead>
                <tr>
                    <th style="width: 20px;">#</th>
                    <th class="col-xs-2">Due date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for challenge in event.Challenges %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <div class="input-group input-group-transparent">
                            <div class="input-group-addon"><i class="icon-calendar22 position-left"></i></div>
                            {% if challenge.plannedAt %}{{ challenge.plannedAt|date('Y-m-d') }} <strong>{{ challenge.plannedAt|date('H:i') }}</strong>{% endif %}
                        </div>
                    </td>
                    <td>{{ challenge.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}

{% block right_sidebar %}
        <div class="sidebar sidebar-opposite sidebar-default sidebar-separate">
            <div class="sidebar-content">
                <div class="sidebar-category">
                    <div class="category-title">
                        <span>Event details</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse"></a></li>
                        </ul>
                    </div>

                    <div class="category-content">
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Plan :</label>
                            <div class="pull-right">{{ event.eventPurchase.plan.planKey }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Duration:</label>
                            <div class="pull-right">{{ event.eventPurchase.plan.maxEventDuration/3600 }} hours</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Status:</label>
                            {% set bg ='bg-danger'  %}
                            {% set lbl ='non payé'  %}
                            {%  if isPayed %}
                                {% set bg ='bg-success'  %}
                                {% set lbl ='payé'  %}
                            {% endif %}
                            <div class="pull-right"><span class="label {{ bg }}">{{ lbl }}</span></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Start date:</label>
                            <div class="pull-right">
                                {% if event.startsAt %}{{ event.startsAt|date('Y-m-d') }} <strong>{{ event.startsAt|date('H:i') }}</strong>{% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">End date:</label>
                            <div class="pull-right">
                                {% if event.endsAt %}{{ event.endsAt|date('Y-m-d') }} <strong>{{ event.endsAt|date('H:i') }}</strong>{% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Privacy:</label>
                            <div class="pull-right"><span class="label bg-info">{{ event.privacy }}</span></div>
                        </div>

                    </div>
                </div>
                <div class="sidebar-category">
                    <div class="category-title">
                        <span>Latest payment</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse"></a></li>
                        </ul>
                    </div>

                    <div class="category-content no-padding">
                        <ul class="media-list media-list-linked">

                            {% for payment in event.eventPurchase.payments %}
                            <li class="media">
                                <a href="#" class="media-link">
                                    <div class="media-body">
                                        <span class="media-heading text-semibold">
                                            {% set price = (payment.totalAmount/100)|split('.') %}
                                            {% if price[0] is defined %}
                                            {{ price[0] }}
                                        {% else %}0{% endif %}.
                                            {% if price[1] is defined %}
                                                {{ price[1] }}
                                            {% else %}00{% endif %}
                                            €
                                        </span>
                                        <span class="text-size-mini text-muted display-block">
                                            {% if payment.createdAt %}{{ payment.createdAt|date('Y-m-d') }} <strong>{{ payment.createdAt|date('H:i') }}</strong>{% endif %}
                                        </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <span class="status-mark bg-success"></span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
