{% extends "client/event/base_creation_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
      </div>
        <div class="content">
            <div class="col-md-10 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                        {{ form_start(form) }}

                            <div class="card-header text-center" data-background-color="orange">
                                <h5 class="card-title">
                                    NEW EVENT
                                </h5>
                                {% include 'client/event/menu_creation.html.twig'  with {'plan': 'active'} %}
                            </div>

                            <div class="card-body">
                                <div class="row" id="row">
                                    {% for plan in form.plan.children  %}
                                    <div class="col-s-3 col-md-3">
                                        <div class='pricing pricing-palden'>
                                            <div class='pricing-item' id="price-row-item">
                                                <div class='pricing-deco'>
                                                    <svg class='pricing-deco-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                                                        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                                                        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                                                        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                                                        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                                                    </svg>
                                                    <div class='pricing-price' id="price-item"><span class='pricing-currency'>€</span>{{ plans[loop.index-1].price/100 }}
                                                        
                                                    </div>
                                                    <h3 class='pricing-title'>{{ plans[loop.index-1].name }}</h3>
                                                </div>
                                                <ul class='pricing-feature-list'>
                                                    <li class='pricing-feature'>{{ plans[loop.index-1].maxUploads }}: Nb Photo</li>
                                                    <li class='pricing-feature'>{{ plans[loop.index-1].maxEventDuration/3600 }}h : Durée Event</li>
                                                    <li class='pricing-feature'>{{ plans[loop.index-1].maxAlbumLifeTime/86400 }} jour : Album Dispo</li>
                                                    <li class='pricing-feature'>{% if plans[loop.index-1].maxGuests == -1 %}
                                                                                    illimité
                                                                                {% else %}
                                                                                    {{ plans[loop.index-1].maxGuests }}
                                                                                {% endif %} : Nb Invité</li>
                                                    <li class='pricing-feature'>{% if plans[loop.index-1].enableGamification == 1 %}
                                                                                    <i class="icon-checkmark3 text-success"></i>
                                                                                {% else %}
                                                                                    <i class="icon-cross2 text-danger-400"></i>
                                                                                {% endif %} : Gamification</li>
                                                    <li class='pricing-feature'>{% if plans[loop.index-1].enableChallenges == 1 %}
                                                                                    <i class="icon-checkmark3 text-success"></i>
                                                                                {% else %}
                                                                                    <i class="icon-cross2 text-danger-400"></i>
                                                                                {% endif %} : Défi</li>
                                                </ul>
                                                
                                                {{ form_widget(plan) }}
                                            </div>
                                        </div>
                                    </div> 
                                    {% endfor %}
                                {{ form_rest(form)}}
                            <div class="card-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">Next</button>
                                </div>
                                
                                <div class="pull-left">
                                    <button type="" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">Previous</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            </div>
                            </div> <!-- wizard container -->
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
{% endblock %}