{% extends "client/event/base_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<style>
.form-control{
    border-top-right-radius: 5px !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    width: 100% !important;
    padding: 10px !important;
    outline: none !important;
    border: 0px solid #ddd !important;
    height: 77px !important;

}
</style>
<div class="main">
        <div class="progressbar-container">
            <ul class="progressbar">
                <li>Choose plan</li>
                <li>Event information</li>
                <li class="active">Event Cover</li>
                <li>Payment</li>
                <li>Invite friends</li>
            </ul>
        </div>
        <div class="event-cover-form animated zoomInUp">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="choose-cover-msg">
                <p>You can choose between one video or 3 images for your event cover</p>
            </div>
            <div class="choose-cover-type">
                {{ form_row(form.coverType ,{'attr': {'class': 'input-field'}}) }}
            </div>
                <div id="cover-video" style="display:none">
                    {{ form_widget(form.videoCover) }}
                </div>
                <div id="cover-images">
                    {{ form_widget(form.firstImageCover) }}
                    {{ form_widget(form.secondImageCover) }}
                    {{ form_widget(form.thirdImageCover) }}
                </div>
            </div>
            <div class="arrows">
                <ul>
                    <button href=""><li class="margin-right previous"><i class="icon-arrow-left12"></i></li></button>
                    <button type="submit"><li class="next"><i class="icon-arrow-right13"></i></li></button>
                </ul>
            </div>
        </div>
       {{ form_end(form) }}
</div>
</div>
        <script>
        console.log('start');
           if ($('#appbundle_event_coverType_0').is(':checked')){
               console.log('Hello');
           }
        </script>
{% endblock %}
