{% extends "client/event/base_creation_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}
{% block container %}
    <div class="main-panel">
      <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top"></nav>
      <!-- End Navbar -->
        <div class="panel-header panel-header-lg">
            <canvas id="bigDashboardChart"></canvas>
        </div>
        <div class="content">
            <div class="col-md-10 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                            <div class="card-header text-center" data-background-color="orange">
                                <h5 class="card-title">
                                    NEW EVENT
                                </h5>
                                {% include 'client/event/menu_creation.html.twig'  with {'challenge': 'active'} %}
                            </div>

                            <div class="card-body">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                {% form_theme form 'Form/Registration/fields.html.twig' %}
                                    <div class="row">
                                        <div class="event-challenge-form animated zoomInUp">
                                                <div class="challange-event">
                                                    {{ form_widget(form.challenges)}}
                                                </div>
                                            {{ form_rest(form)}}
                                        </div>
                                    </div>
                                <div class="card-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">Next</button>
                                </div>
                                {{ form_end(form) }}
                                <div class="pull-left">
                                    <a href="{{ path('add_event_event_information' , { 'id' : event.id}) }}" class="btn btn-previous btn-fill btn-default btn-wd" name="previous" value="Previous">Previous</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
    <script src="{{ asset('assets/js/plugins/symfony_collectionjs/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.my-challenge').collection({
                name_prefix: "{{ form.challenges.vars.full_name }}",
                add_at_the_end: true,
                hide_useless_buttons: true,
                add: '<a href="#" class="collection-action btn btn-info btn-small collection-rescue-add" id="add_challenge">Ajouter une challenge</a>',
                remove: '<a href="#" class="collection-remove btn btn-warning collection-action">X</a>',
                allow_up: false,
                allow_down: false,
                init_with_n_elements: 0,
            }
        );

        /**
         * get all elements by specific id
         * @param id
         * @returns {Array}
         */
        function getElementsFinishWithId( id ) {
            var children = document.body.getElementsByTagName('*');
            var elements = [], child;
            for (var i = 0; i < children.length; i++) {
                child = children[i];
                if (child.id.split('_')[4] === id)
                    elements.push(child);
            }
            return elements;
        }

        elements =  getElementsFinishWithId('randomDate') ;
        elements.forEach((element)=>{
            onChangeCheckbox(element)
        });

        /**
         *  action on click on the checkbox random
         * @param element
         */
        function onChangeCheckbox(element){
           let id = element.id.split('_')[3];
            let state = false;
            if( element.checked){
                state = true;
            };
             document.getElementById('appbundle_event_challenges_'+id+'_plannedAt').disabled = state;

        }

        /**
         * on click on the button proposition
         * @param element
         */
        function onClickProposition(element)
        {
            let
                index = element.id.split('_')[3];
            onClickProposition.identifiantDescription = 'appbundle_event_challenges_'+index+'_description';
            //

        }
        onClickProposition.identifiantDescription=0;

        /**
         * on choose proposition
         */
        function onChooseProposition() {
            $('#'+onClickProposition.identifiantDescription).val($("#propositionSelect option:selected").text())
        }

        /**
         * initialize the old challenge date
         */
        let plannedAt = null;
        {% for challenge in event.challenges  %}
              plannedAt =moment('{{ challenge.plannedAt|date('Y-m-d H:i') }}','YYYY-MM-DD HH:mm').format('YYYY-MM-DD HH:mm')
            {% set id = '#appbundle_event_challenges_'~ (loop.index-1) ~'_plannedAt' %}
            $('{{ id }}').datetimepicker({
                defaultDate: plannedAt,
                format: 'YYYY-MM-DD HH:mm',
                sideBySide: true,
            })
        {% endfor %}
    </script>

    <script type="text/javascript">
        $(function () {
            startDateTimePicker()
            $('#add_challenge').click(function(){
                setTimeout( function (){
                    startDateTimePicker()
                }, 1)
            })

            function startDateTimePicker() {
                let elements = getElementsFinishWithId('plannedAt')
                elements.forEach((element)=>{
                    addDatetimePicker(element)
                });
            }

            function addDatetimePicker(e)
            {
                let startsAt =moment('{{ event.startsAt|date('Y-m-d H:i') }}','YYYY-MM-DD HH:mm').format('YYYY-MM-DD HH:mm')
                let endsAt =moment('{{ event.endsAt|date('Y-m -d H:i')  }}', 'YYYY-MM-DD HH:mm').format('YYYY-MM-DD HH:mm')
                $(e).datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    sideBySide: true,
                })
                $(e).data("DateTimePicker").minDate(startsAt)
                $(e).data("DateTimePicker").maxDate(endsAt)
            }

        })
    </script>
{% endblock %}
