{% extends "client/event/base_creation_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main-panel">
      <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top"></nav>
      <!-- End Navbar -->
        <div class="panel-header panel-header-lg">
            <canvas id="bigDashboardChart"></canvas>
        </div>
        <div class="content">
            <div class="col-md-10 mr-auto ml-auto">
                    <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                        <div class="card-header text-center" data-background-color="orange">
                            <h5 class="card-title">
                                NEW EVENT
                            </h5>

                            {% include 'client/event/menu_creation.html.twig'  with {'information': 'active'} %}
                        </div>

                        <div class="card-body">
                            {{ form_start(form) }}
                            {% form_theme form 'Form/Registration/fields.html.twig' %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        {{ form_widget(form.description)}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Event Name</label>
                                    {{ form_row(form.title)}}
                                </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Event Place</label>
                                    {{ form_row(form.place)}}
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Start At</label>
                                     {{ form_widget(form.startsAt)}}
                                </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>End At</label>
                                    {{ form_widget(form.endsAt)}}
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Catégorie</label>
                                        {{ form_widget(form.category ,{'attr': {'class': 'input-field unstyled'}}) }}
                                </div>
                            </div>
                        <div class="card-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">Next</button>
                        </div>
                        {{ form_end(form) }}
                        <div class="pull-left">
                            <a href="{{ path('add_event_choose_plan' , { 'event' : event.id}) }}" class="btn btn-previous btn-fill btn-default btn-wd" name="previous" value="Previous">Previous</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var placeSearch, autocomplete, geocoder;

        function initAutocomplete() {
            geocoder = new google.maps.Geocoder();
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('appbundle_event_place')), {
                    types: ['geocode']
                });

            autocomplete.addListener('place_changed', fillInAddress);
        }

        function codeAddress(address) {
            geocoder.geocode({
                'address': address,
            });
        }

        function fillInAddress() {
            var place = autocomplete.getPlace();

            codeAddress(document.getElementById('appbundle_event_place').value);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPtDMghVAYF11e_NrdccLPs2OZ6tSMXCs&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script type="text/javascript">
        $(function () {
            let startsAt =moment('{{ event.startsAt|date('Y-m-d H:i') }}','YYYY-MM-DD HH:mm').format('YYYY-MM-DD HH:mm')
            let endsAt =moment('{{ event.endsAt|date('Y-m -d H:i')  }}', 'YYYY-MM-DD HH:mm').format('YYYY-MM-DD HH:mm')
            $('#appbundle_event_startsAt').datetimepicker({
                defaultDate: startsAt,
                format: 'YYYY-MM-DD HH:mm',
                sideBySide: true,
            })
            $('#appbundle_event_endsAt').datetimepicker({
                defaultDate: endsAt,
                format: 'YYYY-MM-DD HH:mm',
                sideBySide: true,
                useCurrent: false,
            })
            controleDate(  $("#appbundle_event_startsAt").data("DateTimePicker").date() )
            $("#appbundle_event_startsAt").on("dp.change", function (e) {
                controleDate(e.date)
            });

             function controleDate(date) {
                var myDate = new Date(date._d)
                myDate.setSeconds(myDate.getSeconds()+60+{{ maxDuration }})
                $('#appbundle_event_endsAt').data("DateTimePicker").maxDate(myDate)
                $('#appbundle_event_endsAt').data("DateTimePicker").minDate(date)
            }
        })
    </script>




{% endblock %}
