<script>
    clickk = false;
    function f() {
        if(!clickk){
            document.getElementById('cont').style.left = "0%";
            document.getElementById('cont').style.transition = "all .5s ease";
            clickk = true;
        }
        else{
            document.getElementById('cont').style.left = "-20%";
            document.getElementById('cont').style.transition = "all .5s ease";
            clickk = false;
        }

    }
</script>
<div class="cont" id="cont">
    <div class="boutt" onclick="f()">
        <div class="div-men"></div>
        <div class="div-menu"></div>
        <div class="div-men"></div>
        <div class="div-menu"></div>
        <div class="div-men"></div>
        <div class="div-menu"></div>
        <div class="div-men"></div>
    </div>
    <div class="wizard-navigation">
        <ul class="nav nav-pills">
            <li class="nav-item" id="nav-item-exeption" >
                <a id="nav-link" class="nav-link {{ plan|default('') }}" href="{{ path('add_event_choose_plan' , { 'event' : event.id}) }}">
                    <i class="now-ui-icons fa fa-tag" ></i>
                    Choose plan
                </a>
            </li>
            <li class="nav-item" >
                <a id="nav-link-test" class="nav-link {{ information|default('') }}" href="{{ path('add_event_event_information' , { 'id' : event.id}) }}" >
                    <i class="now-ui-icons fa fa-info"></i>
                    Event Informations
                </a>
            </li>
            {% if event.eventPurchase.plan.planKey|default('free') != 'free' %}
            <li class="nav-item" >
                <a id="nav-link-test" class="nav-link {{ challenge|default('') }}" href="{{ path('add_event_event_challenge' , { 'id' : event.id}) }}" >
                    <i class="now-ui-icons fa fa-gamepad"></i>
                    Add Challenges
                </a>
            </li>
            {% endif %}

            <li class="nav-item" id="nav-item3">
                <a id="nav-link-test" class="nav-link {{ cover|default('') }}" href="{{ path('add_event_event_cover' , { 'id' : event.id}) }}" >
                    <i class="now-ui-icons fa fa-picture-o"></i>
                    Event Cover
                </a>
            </li>

            {% if event.eventPurchase.plan.planKey|default('free') != 'free' and  not event.isTotalPayed() %}
            <li id="nav-item" class="nav-item" >
                <a id="nav-link" class="nav-link link-event {{ payment|default('') }}" href="{{ path('add_event_payment' , { 'id' : event.id}) }}" >
                    <i class="now-ui-icons fa fa-money"></i>
                    Payment
                </a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a id="nav-link-test" class="nav-link {{ invite|default('') }}" href="{{ path('add_event_invite_friends' , { 'id' : event.id}) }}">
                    <i class="now-ui-icons fa fa-users"></i>
                    Invite Friends
                </a>
            </li>
        </ul>
    </div>
</div>