{% extends "client/event/base_creation_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">

      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
      </div>
        <div class="content">
            <div class="col-md-10 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                            <div class="card-header text-center" data-background-color="orange">
                                <h5 class="card-title">
                                    NEW EVENT
                                </h5>
                                {% include 'client/event/menu_creation.html.twig'  with {'payment': 'active'} %}
                            </div>

                            <div class="card-body">

                                {{ form_start(form, {'attr': {'class': 'form-horizontal payment'}}) }}
                                {% form_theme form 'Form/Registration/fields.html.twig' %}
                                    <div class="panel panel-default credit-card-box">
                                        <div class="panel-heading display-table">
                                            <div class="row display-tr">
                                                <h3 class="panel-title display-td">
                                                    {{ event.eventPurchase.plan.name }} plan :</span>
                                                    {% set price = (event.eventPurchase.plan.price/100)|split('.') %}
                                                    <span class="plan-price">
                                                        {% if price[0] is defined %}
                                                            {{ price[0] }}
                                                        {% else %}0{% endif %}.
                                                        {% if price[1] is defined %}
                                                        {{ price[1] }}
                                                    {% else %}00{% endif %}€
                                                    </span>
                                                    <span class="plan-name">Montant payé :</span>
                                                    {% set price = (sumPayed/100)|split('.') %}
                                                    <span class="plan-price">
                                                        {% if price[0] is defined %}
                                                            {{ price[0] }}
                                                        {% else %}0{% endif %}.
                                                    {% if price[1] is defined %}
                                                        {{ price[1] }}
                                                    {% else %}00{% endif %}€
                                                    </span>
                                                </h3>

                                            </div>
                                        </div>
                                    </div><br>
                                    <label for="cardNumber">CARD NUMBER</label>
                                        {{ form_row(form.numberCard) }}
                                    <label for="cardExpir">EXPIRATION DATE</label>
                                        {{ form_row(form.expireAtMonth) }}
                                        {{ form_row(form.expireAtYear) }}
                                    <label for="cardCVC">CV CODE</label>
                                        {{ form_row(form.cvv) }}
                                    <label for="couponCode">Price</label>
                                        {{ form_row(form.price) }}
                                    <br>
                                    <label for="couponCode">DISCOUNT CODE</label>
                                        <input class="form-control" name="couponCode" type="text"><br>
                                    <br>
                                <div class="card-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">Next</button>
                                </div>
                                {{ form_rest(form)}}
                                {{ form_end(form) }}
                                <div class="pull-left">
                                    <a href="{{ path('add_event_event_cover' , { 'id' : event.id}) }}" class="btn btn-previous btn-fill btn-default btn-wd" name="previous" value="Previous">Previous</a>
                                </div>
                                <div class="clearfix">
                                <a href="{{ urlpay }}" >pay</a>

                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
