{% extends "client/event/base_list_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main-panel">
    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">

        </nav>
        <!-- End Navbar -->
        <div class="events">
            <div class="col-md-10 mr-auto ml-auto">
                <div class="row">
                    <div style="background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg)" class="blog-card spring-fever">
                        <div class="title-content">
                            <h3><a href="#">{{ event.title }}</a></h3>
                            <div class="intro"> <a href="#">{{ event.place }}</a> </div>
                        </div>
                        <div class="card-info">
                            {{ event.description }}
                            <a href="{{ path('add_event_choose_plan',{'event': event.id}) }}">Edit Event</a>
                        </div>
                        <div class="utility-info">
                            <ul class="utility-list">
                            <li></span>{{ event.startsAt|date("F j, Y, g:i a") }}</li>
                            </ul>
                        </div>
                        <div class="gradient-overlay"></div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}