{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">{{ 'user.name'|trans }}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
            <a href="{{ path('user_index') }}" class="btn btn-primary btn-xs "><b><i class="icon-loop3"></i></b> {{ 'user.index.back-list'|trans }}</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.username'|trans }}</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.full_name'|trans }}</td>
                            <td>{{ user.fullName }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.email'|trans }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.phone_number'|trans }}</td>
                            <td>{{ user.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.time_zone'|trans }}</td>
                            <td>{{ user.timezoneId }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.role'|trans }}</td>
                            <td>
                                <span class="label label-info">
                                    {% if user.roles.0 == 'ROLE_USER' %}
                                        {{ 'user.fields.user'|trans }}
                                    {% elseif user.roles.0 == 'ROLE_ADMIN' %}
                                        {{ 'user.fields.admin'|trans }}
                                    {% elseif user.roles.0 == 'ROLE_SUPER_ADMIN' %}
                                        Super Admin
                                    {% else %}
                                        No Role
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.state'|trans }}</td>
                            <td>
                                {% if user.enabled ==1 %}
                                    <span class="label bg-success heading-text">{{ 'user.index.enable'|trans }}</span>
                                {% else %}
                                    <span class="label bg-danger heading-text">{{ 'user.index.disable'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'user.fields.lastLogin'|trans }}</td>
                            <td>{{ user.lastLogin|date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="heading-elements pull-right">
            <div class="col-md-12">
                <div class="text-right">
                    <div class="btn-group">
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form) }}
                        <a class="btn btn-primary legitRipple" href="{{ path('user_edit', { 'id': user.id }) }}"> {{ 'user.index.update'|trans }}<i class="icon-rotate-cw2 position-right"></i></a>
                        {% set  confirm =  'user.delete_account'|trans %}
                        <button type="submit" onclick="return confirm('{{ confirm }}');"  class="btn btn-danger legitRipple" href="{{ path('user_delete', { 'id': user.id }) }}">{{ 'user.index.delete'|trans }} <i class="icon-trash-alt position-right"></i></button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
